<footer>
    <!-- Load and initialize DataTables -->
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/public/jquery.dataTables.min.css">
    <script src="{{ site.baseurl }}/public/jquery-3.3.1.min.js"></script>
    <script src="{{ site.baseurl }}/public/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready( function () {
            $('#data_table').DataTable({
                "pageLength": 50
            });
        } );
    </script>
</footer>
