---
layout: default
---

<div class="page">
  <h3 class="page-title">{{ page.name }}</h3>
  <hr>

  <p><b> Year it was held:</b> {{ page.year }}</p>
  <p><b> Years the conferences has been held:</b> {{ page.total_years }}</p>
  <p><b> Disciplines:</b> {{ page.discipline }}</p>
  <p><b> Gender balance/diversity statement:</b> {{ page.gender_balance }}</p>

  <p><b> Total Attendance Cost (US dollars):</b> {{ page.attendance_cost }}</p>
  <p><b> Registration Cost (US dollars):</b> {{ page.registration_fee }}</p>
  <p><b> Travel Carbon Footprint (tons of CO<sub>2</sub>) for all conference attendees:</b> {{ page.carbon_footprint }}</p>
  <p><b> Other Carbon Footprint (tons of CO<sub>2</sub>) for all conference attendees:</b> {{ page.other_carbon_footprint }}</p>
  <p><b> Associated Scientific Society/Organization:</b> {{ page.society_name }}</p>
  <p><b> Approx number of Society members (as of 2018):</b> {{ page.society_members }}</p>
  <p><b> Approximate Number of Conference Attendees (Exhibitors included):</b> {{ page.attendees }}</p>
  <p><b> Geographic Location(s):</b> {{ page.venue }}</p>
  <p><b> Years held (Every 6 months, Annual, Biannual, Triannual):</b> {{ page.frequency }}</p>
  <p><b> Host, Funders and Sponsors:</b> {{ page.sponsors }}</p>
  <p><b> Digital or Virtual Options:</b> {{ page.virtual_option }}</p>
  <p><b> Digital Archives (Recorded talks & slides):</b> {{ page.digital_archives }}</p>  
  <p><b> Electronic program dissemination:</b> {{ page.electronic_program }}</p>
  <p><b> On-site Maternity Facilities:</b> {{ page.onsite_maternity }}</p>
  <p><b> On-site  Childcare Facilities/Services:</b> {{ page.onsite_childcare }}</p>
  <p><b> Caregiver grant:</b> {{ page.caregiver_grant }}</p>
  <p><b> Career Development Events and Workshops:</b> {{ page.career_development }}</p>
  <p><b> ECR promotion events:</b> {{ page.ecr_promotion_events }}</p>
  <p><b> Travel awards for ECRs:</b> {{ page.travel_awards }}</p>
  <p><b> Code of conduct:</b> {{ page.code_of_conduct }}</p>
  <p><b> Safety Instructions/Apps:</b> {{ page.safety_instructions }}</p>
  <p><b> Keynote speaker gender balance:</b> {{ page.keynote_gender_balance }}</p>
  <p><b> Speaker gender balance:</b> {{ page.speaker_gender_balance }}</p>
  <p><b> Invited speakers gender balance:</b> {{ page.invited_gender_balance }}</p>
  <p><b> Session chair gender balance:</b> {{ page.session_chair_gender_balance }}</p>
  <p><b> Conference chair gender balance:</b> {{ page.conference_chair_gender_balance }}</p>
  <p><b> Enviromental Sustainability efforts:</b> {{ page.environmental_sustainability }}</p>
  <p><b> Public Engagement Events Outreach:</b> {{ page.public_engagement }}</p>
  <p><b> Sustainability Initiatives/Considerations/Green Strategies/Policies:</b> {{ page.sustainability_initiatives }}</p>
  <p><b> Conference url:</b> <a href="{{ page.conference_url }}" target="_blank">{{ page.conference_url }}</a></p>
  <p><b> Other Details/Announcements or publications:</b> {{ page.other_details }}</p>

  <hr>
  <a href="{{ site.baseurl }}/">< Return Back </a>

</div>