---
layout: default
---

<div class="page">
  <h3 class="page-title">{{ page.name }}</h3>
  <hr>

  <p><b> Conference year:</b> {{ page.year }}</p>
  <p><b> Total years:</b> {{ page.total_years }}</p>
   <p><b> Disciplines:</b> {{ page.discipline }}</p>
     <p><b> Gender balance:</b> {{ page.gender_balance }}</p>

  <p><b> Attendance cost:</b> {{ page.attendance_cost }}</p>
  <p><b> Registration fee:</b> {{ page.registration_fee }}</p>
  <p><b> Carbon footprint (tons of CO<sub>2</sub>):</b> {{ page.carbon_footprint }}</p>
  <p><b> Other carbon footprint (tons of CO<sub>2</sub>):</b> {{ page.other_carbon_footprint }}</p>
  <p><b> Society name:</b> {{ page.society_name }}</p>
  <p><b> Society members:</b> {{ page.society_members }}</p>
  <p><b> Attendees:</b> {{ page.attendees }}</p>
  <p><b> Venue:</b> {{ page.venue }}</p>
  <p><b> Frequency:</b> {{ page.frequency }}</p>
  <p><b> Sponsors:</b> {{ page.sponsors }}</p>
  <p><b> Virtual option:</b> {{ page.virtual_option }}</p>
  <p><b> Digital archives:</b> {{ page.digital_archives }}</p>  
  <p><b> Electronic program dissemination:</b> {{ page.electronic_program }}</p>
  <p><b> On-site maternity:</b> {{ page.onsite_maternity }}</p>
  <p><b> On-site childcare:</b> {{ page.onsite_childcare }}</p>
  <p><b> Caregiver grant:</b> {{ page.caregiver_grant }}</p>
  <p><b> Career development:</b> {{ page.career_development }}</p>
  <p><b> ECR promotion events:</b> {{ page.ecr_promotion_events }}</p>
  <p><b> Travel awards:</b> {{ page.travel_awards }}</p>
  <p><b> Code of conduct:</b> {{ page.code_of_conduct }}</p>
  <p><b> Safety instructions:</b> {{ page.safety_instructions }}</p>
  <p><b> Keynote speaker gender balance:</b> {{ page.keynote_gender_balance }}</p>
  <p><b> Speaker gender balance:</b> {{ page.speaker_gender_balance }}</p>
  <p><b> Invited speakers gender balance:</b> {{ page.invited_gender_balance }}</p>
  <p><b> Session chair gender balance:</b> {{ page.session_chair_gender_balance }}</p>
  <p><b> Conference chair gender balance:</b> {{ page.conference_chair_gender_balance }}</p>
  <p><b> Environmental sustainability:</b> {{ page.environmental_sustainability }}</p>
  <p><b> Public engagement:</b> {{ page.public_engagement }}</p>
  <p><b> Sustainability initiatives:</b> {{ page.sustainability_initiatives }}</p>
  <p><b> Conference url:</b> <a href="{{ page.conference_url }}" target="_blank">{{ page.conference_url }}</a></p>
  <p><b> Other details:</b> {{ page.other_details }}</p>

  <hr>
  <a href="{{ site.baseurl }}/">< Return Back </a>

</div>